.home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home__logo {
  height: 6rem;
}

.home__heading {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home__counter-wrapper {
  display: flex;
  gap: 1rem;
}
