* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #000;
  background-color: transparent;
}

.button:disabled {
  border-color: #a8a8a8;
}

.error,
.loading {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.error {
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.error__text,
.loading__text {
  font-size: 3rem;
  font-weight: 300;
}

.error__button {
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.hero__title {
  font-size: 5rem;
  font-weight: bold;
}

.characters {
  flex-grow: 1;
  padding: 0 1rem;
}

.characters-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0.75rem;
}

.characters-list__card {
  flex-direction: row;
  max-width: 1500px;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.characters-list__card .card__content {
  flex-direction: row;
}

.card__media {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.character__info {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.character__name {
  font-size: 1.75rem;
  font-weight: 600;
  word-break: normal;
}

.character__status {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.character__status-mark {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transform: translateY(0.06rem);
}

.character__status-mark--alive {
  background-color: #02a810;
}

.character__status-mark--dead {
  background-color: #f50a0a;
}

.character__status-mark--unknown {
  background-color: #ababab;
}

.character__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  padding: 1.5rem 0;
}

.character__text {
  font-size: 1.25rem;
  line-height: 1;
}

.character__label {
  font-size: 1.25rem;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem;
}

.pagination__button {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.pagination__button svg {
  pointer-events: none;
}

.pagination__button[data-pagination-type='next'] svg {
  transform: rotate(180deg);
}

.pagination__page-counter {
  font-size: 1.1rem;
  line-height: 1;
  pointer-events: none;
}

.hidden {
  display: none;
}

@media (max-width: 560px) {
  .hero__title {
    font-size: 3rem;
  }

  .characters-list__card {
    width: 334px;
  }

  .characters-list__card .card__content {
    flex-direction: column;
  }

  .character__info {
    padding: 0.5rem 0 0 0;
    gap: 1.5rem;
  }

  .character__details {
    padding: 0;
  }
}

@media (max-width: 365px) {
  .characters {
    padding: 0;
  }

  .characters-list__card {
    width: 90%;
  }

  .card__media {
    width: 100%;
    height: 100%;
  }

  .pagination {
    padding: 2rem 0;
  }
}
